.home-container {
 background-color: white;
}

.welcome {
  justify-content: center;
  color: blue
}

.card-login {
  background-color: burlywood;
  justify-content: center;
  border-radius: 7px;
}

.login-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.username-login {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.password-login {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.submit-button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.signup-button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.logo {
  justify-content: center;
}

.slogan {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signup-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.username-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.password-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.first-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}
.last-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}
.email-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}



