.home-container {
 background-color: white;
}

.welcome {
  justify-content: center;
  color: blue
}

.card-login {
  background-color: burlywood;
  justify-content: center;
  border-radius: 7px;
}

.login-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.username-login {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.password-login {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.submit-button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.signup-button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.logo {
  justify-content: center;
}

.slogan {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signup-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.username-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.password-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.first-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}
.last-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}
.email-signup {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
}

.header {
  width: 100%;
  background-color: burlywood;
}

.app-nav {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
}

.dashbboard-container {
  background-color: white;
}

.favorites-container {
  background-color: lightgoldenrodyellow;
}

.card {
  background-color: lightskyblue;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}

.h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.prompt-card {
  background-color: lightpink;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.idea-container {
  background-color: lightpink;
}

.suggestion-card {
  background-color: lightskyblue;
}










